.contactTitle {
    color: #f48101;
    font-size: 1.2em;
}

.contactInfo {
    color: black;
    font-size: 0.8em
}

.popUp {
    background-color: #e9e8e3 !important
}

.dialogTitle {
    color: #ed2f25 !important;
}

.popUpBtn {
    color: #ed2f25 !important;
}

