.orgs {
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start; */
}

.card {
    background-color: #e9e8e3 !important;
}

.cardDIV {
    grid-auto-flow: row !important
}

.cardDIV * {
    /* display: block; */
}

.cardHeader {
    /* white-space: nowrap !important;
    text-overflow: clip !important;
    width: 100% !important; */
}

.cardHeader * {}

.TheExpandables4 {
    /* width: 100%;
    width: 100vw;
    padding: 0px;
    position: absolute;
    left: 0;
    top: auto;
    height: 0px;
    overflow: hidden;
    background-size: 100% 200%;
    display: inline !important;
    background-color: red */
}